<template>
    <b-container>
    <loading :active.sync="isLoading" 
        :can-cancel="true" 
        :on-cancel="onCancel"
        :is-full-page="fullPage"></loading>
    <b-row>
        <h1>Resource #{{memberId}}</h1>
    </b-row>
    <hr/>
    <b-row>
    </b-row>
    <b-container>
        <b-row>
            <b-col cols="3">
                <b-calendar v-model="dateValue" @context="onContext" locale="en-US"></b-calendar>
            </b-col>
            <b-col cols="9">
                    <b-row class="item">
                        <b-col cols="6">
                            Member ID: <b-form-input type="text" v-model="memberId" readonly="readonly"/>
                        </b-col>
                        <b-col>
                            Data Allocazione: <b-form-input type="text" v-model="dateValue"/>
                        </b-col>
                    </b-row>
                    <AllocationItem v-for="project in projects" v-bind:key="project.index" v-bind:project="project" v-on:changeAllocation="setAllocation"></AllocationItem>
                    <b-button class="btnAction" @click="sendAllocation()" :disabled="sendDisabled">Send</b-button>
            </b-col>
        </b-row>
        <hr/>
        <b-row>
            <h2 class="history">Storico Allocazioni</h2>
        </b-row>
        <b-row>
            <b-table striped hover :items="allocations"></b-table>
        </b-row>
    </b-container>
    <Footer></Footer>
    </b-container>
</template>

<style scoped>
.item {
    margin: 25px;
}
.date-label {
    float: left;
}
.btnAction {
    margin-right: 5px;
}
.history {
    margin-top: 40px;
}
</style>

<script>

import AllocationItem from './AllocationItem.vue'
import Footer from './Footer.vue'
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import api from '../services/index.js';

export default {
    name: 'Allocations',
    components: {
        AllocationItem,
        Footer,
        Loading
    },
    data() {
        return {
            projects: [],
            allocations: [],
            allocationItems: [],
            outputAllocations: [],
            dateValue: '',
            context: null,
            memberId: '',
            readonly: true,
            isLoading: false,
            onCancel: () => { return true },
            fullPage: true,

        }
    },
    computed: {
        sendDisabled: function() {
            if (this.outputAllocations.length < this.projects.length ||
                this.dateValue === '') {
                return true;
            }
            return false;
        }
    },
    methods: {
        setAllocation(value) {
            if(!this.outputAllocations.find(item => item.id === value.id)) {
                this.outputAllocations.push(value);
            } else {
                this.outputAllocations.find(item => item.id === value.id).hours = value.hours;
            }
        },
        getAllocations(resourceId) {
            this.isLoading = true;
            const data = this.getProjectsData(resourceId);
            data.then(response => {
                this.projects = response.projects.map((item) => {
                    return {
                        id: item.id, 
                        name: item.name
                    }
                })
                this.allocations = response.allocations.map((item) => {
                    return {
                        id: item.id,
                        project: item.project.name,
                        hours: item.hours,
                        date: item.date
                    }
                })
            })
            .then(() => {
                this.isLoading = false
            });
        },
        getProjectsData(resource_id) {
            const promise = new Promise((resolve, reject) => {
                api.get(`members/${resource_id}`, {})
                .then((response => {
                    const result = response.data[0];
                    this.memberId = resource_id;
                    resolve(result);
                }))
                .catch(() => {
                    reject('error');
                })
            });
            return promise;
        },
        sendAllocation() {
            this.isLoading = true;
            const allocations = this.outputAllocations.map((project) => {
                const item = {
                    projectId: parseInt(project.id),
                    memberId: parseInt(this.memberId),
                    hours: parseInt(project.hours),
                    date: this.dateValue
                }
                return item;
            });
            const promise = new Promise((resolve, reject) => {
                api.post('allocations/', allocations)
                .then((response => {
                    const result = response.data;
                    resolve(result);
                }))
                .then(() => {
                    this.getAllocations(this.memberId);
                })
                .catch(() => {
                    reject('error');
                })
            });
            return promise;
        },
        onContext(ctx) {
            this.context = ctx
            this.allocationItems.map((item) => {
                item.date = this.dateValue;
            })
        }
    },
    mounted() {
        let resourceId;
        if (!this.$route.params.resource_id) {
            resourceId = 1;
        } else {
            resourceId = this.$route.params.resource_id;
        }
        this.getAllocations(resourceId);
    }
}
</script>