<template>
    <b-row class="item">
        <b-col cols="6">
            <b-form-input
                v-model="project.name" readonly="readonly">
            </b-form-input>
        </b-col>
        <b-col cols="5">
            <b-form-input
                v-model="hours"
                @change="changedValue"
                type="range" min="1" max="8">
            </b-form-input>
        </b-col>
        <b-col cols="1">
            {{ hours }} h
        </b-col>
    </b-row>
</template>

<style scoped>
.item {
    margin: 5px;
}
</style>

<script>
export default {
    name: 'AllocationItem',
    props: {
        index: {
            type: Number
        },
        project: {
            type: Object,
            default: () => { 
                return { id: Number, name: String }
            }
        },
        readonly: () => {return true;}
    },
    data() {
        return {
            selectedProject: this.value,
            hours: 0
        }
    },
    methods: {
        changedValue(value) {
            const projectItem = {
                id: this.project.id,
                hours: value
            }
            this.$emit('changeAllocation', projectItem);
        }
    }

}
</script>