<template>
  <b-container>
      <hr/>
      <b-row>
        <b-col cols="6">
          <router-link :to="{ name: 'management' }">Management</router-link>
        </b-col>
        <b-col>
          <router-link :to="{ name: 'resource' }">Resource</router-link>
        </b-col>
      </b-row>
  </b-container>
</template>

<script>
export default {
  name: 'Footer',
  components: {},
}
</script>