<template>
  <b-container>
    <h1>{{ msg }}</h1>
    <b-row class="features">
        <b-col cols="6">
            <b-card
              title="Management's Area"
              img-src="https://i.picsum.photos/id/180/600/300.jpg"
              img-alt="Image"
              img-top
              tag="article"
              class="mb-2"
            >
              <router-link :to="{ name: 'management' }">Management</router-link>
            </b-card>
        </b-col>
        <b-col cols="6">
          <div>
            <b-card
              title="Member's Area"
              img-src="https://i.picsum.photos/id/1/600/300.jpg"
              img-alt="Image"
              img-top
              tag="article"
              class="mb-2"
            >
              <router-link :to="{ name: 'resource' }">Resource</router-link>
            </b-card>
          </div>
        </b-col>
    </b-row>
  </b-container>
</template>

<style>
.features {
  margin-top: 50px;
}
</style>

<script>
export default {
  name: 'Home',
  components: {},
  props: {
    msg: String
  }
}
</script>