<template>
    <b-container>
        <loading :active.sync="isLoading" 
            :can-cancel="true" 
            :on-cancel="onCancel"
            :is-full-page="fullPage"></loading>
        <b-row>
            <h1>Management</h1>
        </b-row>
        <hr/>
        <b-row>
            <b-col cols="5">
                <b-form-input
                    v-model="newProject.name">
                </b-form-input>
            </b-col>
            <b-col cols="5">
                <b-form-input
                    v-model="newProject.description">
                </b-form-input>
            </b-col>
            <b-col cols="2">
                <b-button class="btnAction" @click="addNewProject()" :disabled="sendDisabled">Add new project</b-button>
            </b-col>
        </b-row>
        <hr/>
        <b-row>
            <h1>Resources</h1>
        </b-row>
        <b-container v-for="(resourceItem) in resources" v-bind:key="resourceItem.value">
            <b-row>
                <b-col cols="4">
                    <h4 class="resource">{{resourceItem.resource.text}}</h4>
                </b-col>
            </b-row>
            <b-row>
            <div class="switch" v-for="project in resourceItem.projects" v-bind:key="project.index">
            <switches   
                v-model="project.selected"
                emitOnMount="switchEnabled"
                @input="updateProject(resourceItem.resource.value, project.value, project.selected)"
                v-bind:label="project.text"
            >
            </switches>
            </div>
            <hr/>
            </b-row>
        </b-container>
        <Footer></Footer>
    </b-container>
</template>

<style>
.btnAction {
    margin-right: 5px;
}
.resource {
    float:left;
}
.switch {
    padding: 20px;
}
</style>

<script>

import Switches from 'vue-switches';
import axios from 'axios';
import Footer from './Footer.vue';
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import api from '../services/index.js';

export default {
    name: 'Management',
    components: {
        Switches,
        Footer,
        Loading
    },
    data() {
        return {
            resources: [],
            projects: [],
            projectItems: [],
            allocations: [],
            allocationItemSelected: [],
            tags:[],
            newProject: { name: '', description: ''},
            switchEnabled: false,
            isLoading: false,
            onCancel: () => { return true },
            fullPage: true,

        }
    },
    computed: {
        sendDisabled: function() {
            if (this.newProject.name === '') {
                return true;
            }
            return false;
        }
    },
    methods: {
        updateProject(resourceId, selectedProjectId, isSelected) {
            if (!this.switchEnabled) {
                return;
            }
            if (isSelected) {
                this.addMemberToProject(resourceId, selectedProjectId);
            } else {
                this.removeMemberFromProject(resourceId, selectedProjectId);
            }

        },
        addMemberToProject(resourceId, selectedProjectId) {
            const promise = new Promise((resolve, reject) => {
                const params = [
                    {
                        projectId: selectedProjectId
                    }
                ];
                api.post(`members/${resourceId}/projects/`, params)
                .then((response => {
                    const result = response.data;
                    resolve(result);
                }))
                .catch(() => {
                    reject('error');
                })
            });
            return promise;
        },
        removeMemberFromProject(resourceId, selectedProjectId) {
            const promise = new Promise((resolve, reject) => {
                const params = [
                    {
                        projectId: selectedProjectId
                    }
                ];
                api.delete(`members/${resourceId}/projects/`, { data: params })
                .then((response => {
                    const result = response.data;
                    resolve(result);
                }))
                .catch(() => {
                    reject('error');
                })
            });
            return promise;
        },
        addNewProject() {
            this.isLoading = true;
            const api = axios.create({
                baseURL: process.env.VUE_APP_API_URL,
                headers: {
                    'Content-Type': 'application/json',
                },
            });
            const promise = new Promise((resolve, reject) => {
                const params = this.newProject;
                api.post(`projects/`, params)
                .then((response => {
                    const result = response.data;
                    this.resources.map((item) => {
                        const addedProject = {
                            value: result.id,
                            text: result.name,
                            selected: false
                        }
                        item.projects.push(addedProject);
                    })
                    resolve(result);
                }))
                .then(() => {
                    this.isLoading = false;
                })
                .catch(() => {
                    reject('error');
                })
            });
            return promise;
        },
        getResourcesData() {
            const promise = new Promise((resolve, reject) => {
                api.get('members/', {})
                .then((response => {
                    const result = response.data;
                    resolve(result);
                }))
                .catch(() => {
                    reject('error');
                })
            });
            return promise;
        },
        getProjectsData() {
            const promise = new Promise((resolve, reject) => {
                api.get('projects/', {})
                .then((response => {
                    const result = response.data;
                    resolve(result);
                }))
                .catch(() => {
                    reject('error');
                })
            });
            return promise;
        },
        addItem(index) {
            this.resources[index].allocations.push({});
        }
    },
    mounted() {
        this.isLoading = true;
        this.switchEnabled = false;
        const dataProjects = this.getProjectsData();
        const dataResources = this.getResourcesData();
        axios.all([dataProjects, dataResources]).then(axios.spread((...responses) => {
            const allProjects = responses[0].map((item) => {
                return {value: item.id, text: item.name, selected: false}
            })
            this.resources = responses[1].map((resource) => {
                const assignedProject = allProjects.map((item) => {
                    let projectSelected = false;
                    if (resource.projects.find(resource => resource.id === item.value)) {
                        projectSelected = true;
                    }
                    return {value: item.value, text: item.text, selected: projectSelected};
                });
                const item = { 
                    resource: { value: resource.id, text: `${resource.firstName} ${resource.lastName}` },
                    projects: assignedProject
                };
                return item;
            });
        }))
        .then(() => {
            this.switchEnabled = true;
            this.isLoading = false;
        }).catch(() => {
            // eslint-disable-next-line no-console
            console.log('error');
        });
    }
}
</script>